@font-face {
  font-family: "Nunito";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/assets/fonts/nunito.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent
}

:is(.gray-scrollbar, pre)::-webkit-scrollbar-track {
 @apply bg-zinc-100 rounded-full
}

::-webkit-scrollbar-thumb {
 @apply rounded-md bg-white
}

:is(.gray-scrollbar, pre)::-webkit-scrollbar-thumb {
 @apply bg-zinc-400/20
}

::-webkit-scrollbar-thumb:hover {
 @apply bg-zinc-100
}

:is(.gray-scrollbar, pre)::-webkit-scrollbar-thumb:hover {
 @apply bg-zinc-500/20
}

::-webkit-scrollbar-thumb:active {
 @apply bg-zinc-200
}

:is(.gray-scrollbar, pre)::-webkit-scrollbar-thumb:active {
 @apply bg-zinc-600/20
}

:is(h1, h2, h3, h4, h5, h6) {
@apply scroll-mt-16 xl:scroll-mt-8
}
