html {
  scroll-behavior: smooth;
}

body {
  --at-apply: font-sans
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent
}

pre::-webkit-scrollbar-track {
  --at-apply: bg-gray-100 rounded-full
}

::-webkit-scrollbar-thumb {
  --at-apply: rounded-md bg-white
}

pre::-webkit-scrollbar-thumb {
  --at-apply: bg-gray-400 bg-op-20
}

::-webkit-scrollbar-thumb:hover {
  --at-apply: bg-gray-100
}

pre::-webkit-scrollbar-thumb:hover {
  --at-apply: bg-gray-500 bg-op-20
}

::-webkit-scrollbar-thumb:active {
  --at-apply: bg-gray-200
}

pre::-webkit-scrollbar-thumb:active {
  --at-apply: bg-gray-600 bg-op-20
}

:is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 6rem;
}
