html {
  scroll-behavior: smooth;
}

body {
  --at-apply: font-sans
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: theme("colors.primary");
}

::-webkit-scrollbar-thumb {
  border-radius: theme("borderRadius.md");
  background-color: theme("colors.white");
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.gray.100");
}

::-webkit-scrollbar-thumb:active {
  background-color: theme("colors.gray.200");
}

:is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 6rem;
}
